<div class="container p-5" style="height: 84vh">
  <mat-card class="example-card my-5" style="padding: 35px">
    <mat-card-header style="justify-content: space-between">
      <mat-card-title> {{ article?.title }}</mat-card-title>
      <div
        class="info-icon"
        style="
          margin: 8px;
          font-size: 25px;
          width: 110px;
          display: flex;
          justify-content: space-evenly;
        "
      >
        <a
          matTooltip="Article edit"
          aria-label="Button that displays a tooltip when focused or hovered over"
          style="outline: none; border: none; color: green"
          [routerLink]="['/', 'editarticle', article?.slug]"
          class="follow"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <button style="outline: none; border: none; color: red">
          <i
            matTooltip="Article delete"
            aria-label="Button that displays a tooltip when focused or hovered over"
            class="fa-solid fa-trash-can"
            (click)="deleteArticle()"
          ></i>
        </button>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div
        class="content-header my-2"
        style="display: flex; justify-content: start; align-items: center"
      >
        <img
          style="height: 50px; border-radius: 50%"
          mat-card-image
          [src]="article?.author?.image"
        />
        <h3 style="font-size: 20px; margin-left: 20px">
          {{ article?.author?.username }}
        </h3>
      </div>

      <p>
        {{ article?.description }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
