<!-- <div style="display: flex; justify-content: space-between; align-items: center">
  <div>
    <h3 style="margin: 0px">
      <span>
        {{ isSaved ? "Yaziyi guncelle" : "Yaziyi gor" }}
      </span>
    </h3>
  </div>

  <button mat-button style="font-size: 24px" (click)="close()">x</button>
</div>

<div *ngIf="isSaved">
  <form [formGroup]="newArticleForm" style="min-width: 250px">
    <div class="container">
      <div class="row">
        <div><h3>save?</h3></div>
      </div>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="save()">
        Dont save
      </button>
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </form>
</div> -->
