<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84.3vh;
  "
>
  <mat-card style="min-width: 30%">
    <mat-card-content>
      <mat-card-title>Edit Article</mat-card-title>
      <form
        [formGroup]="editArticleForm"
        style="display: flex; flex-direction: column"
      >
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input
            matInput
            placeholder="Enter the title of the article"
            formControlName="title"
            name="title"
          />
          <mat-error *ngIf="editArticleForm.get('title')?.hasError('required')">
            Title required!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tags</mat-label>
          <input
            matInput
            placeholder="Enter the tag of the article"
            formControlName="tag"
            name="tag"
          />
          <mat-error *ngIf="editArticleForm.get('tag')?.hasError('required')">
            Tag required!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <input
            matInput
            placeholder="Enter the description of the article"
            formControlName="description"
            name="description"
          />
          <mat-error
            *ngIf="editArticleForm.get('description')?.hasError('required')"
          >
            Description required!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Body</mat-label>
          <textarea
            matInput
            placeholder="Enter the body of the article"
            formControlName="body"
            name="body"
          >
          </textarea>
          <mat-error *ngIf="editArticleForm.get('body')?.hasError('required')">
            Body required!
          </mat-error>
        </mat-form-field>

        <button
          [disabled]="editArticleForm.invalid"
          mat-raised-button
          (click)="openDialog()"
          type="submit"
          color="primary"
        >
          Update
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
