<div
  class="mt-3"
  style="
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    height: 50px;
  "
>
  <h2 style="">Update the article?</h2>

  <button
    style="font-size: 30px; background-color: transparent; border: none"
    (click)="closeIcon()"
  >
    x
  </button>
</div>

<div>
  <div
    style="
      width: 275px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    "
  >
    <button
      mat-raised-button
      style="background-color: red; color: white"
      (click)="dontUpdate()"
    >
      Don't update
    </button>
    <button mat-raised-button color="primary" (click)="update()">Update</button>
  </div>
</div>
